---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/ltk6cbc.css" />
    <title>Astro</title>
  </head>
  <body>
    <!-- cover -->
    <div class="h-screen bg-teal-700 text-white relative font-title">
      <span class="text-xl top-10 left-10 tracking-widest font-bold absolute"
        >1908 - 1991</span
      >
      <h1 class="text-8xl absolute uppercase left-10 top-24">
        Cipe <br /> Pineles
      </h1>
      <ul class="text-xl absolute bottom-10 flex inset-x-10 justify-between">
        <li>Pratt</li>
        <li>Condé Nest</li>
        <li>Seventeen</li>
        <li>Charm</li>
        <li>Parsons</li>
      </ul>
    </div>

    <!-- page-1 -->
    <div class="h-screen bg-teal-700 text-white relative font-body">
      <div class="absolute top-10 left-10 flex gap-10">
        <img
          class="h-96 opacity-80"
          src="cipe-pineles.png"
          alt="a picture of Cipe"
        />
        <p class="text-white text-xl w-72 right-10">
          Cipe Pineles was a pioneer and underrepresented female graphic
          designer. She is known for her contribution to the world of magazine
          design and for breaking gender barriers in a predominantly
          male-dominated industry during her time.
        </p>
      </div>
      <div class="inset-x-10 bottom-10 absolute flex justify-between">
        <ul class="text-xl tracking-wider leading-10 font-title">
          <li>1908</li>
          <li>1923</li>
          <li>1926-1929</li>
          <li>1930-1932</li>
        </ul>
        <ul class="text-xl leading-10 font-body">
          <li>born in Vienna, Austria</li>
          <li>family leaves Vienna and arrives in the U.S.</li>
          <li>studies at Pratt Institute, Brooklyn</li>
          <li>takes first design job at Contempora, Ltd.</li>
        </ul>
      </div>
    </div>

    <!-- page-2 -->
    <div class="h-screen bg-white relative flex gap-10">
      <!-- cipe -->
      <div class="text-teal-700 absolute left-10 top-10">
        <span class="text-5xl font-title"> 1926-1929</span>
        <img class="h-72" src="cacuts.png" alt="" />
        <p class="font-title text-3xl">Cactus</p>
        <p class="font-body text-xl w-96">
          Cipe started her design journey in Pratt, studying classical drawing
          and watercolor. She began experimenting with still-life painting,
          which later became a lifelong fascination.
        </p>
        <span class="text-5xl font-title">1930-1932</span>
        <p class="font-title text-3xl">
          Contempora Everfast Figures <br /> and Scenes
        </p>
        <p class="font-body text-xl w-96">
          Cipe’s position at Contempora was her first opportunity to work as a
          professional designer. Contempora was an association of European and
          American artists and designers.
        </p>
        <img class="h-72" src="contempora3.png" alt="" />
      </div>
      <!-- history -->
      <div class="bg-orange-50 text-gray-500 absolute right-10 top-10">
        <!-- Harlem Renaissance -->
        <div class="flex gap-5">
          <img class="w-72" src="josaphine-baker.jpg" alt="" />
          <div>
            <span class="text-3xl font-title">1910s-1930s</span>
            <p class="font-title text-3xl">Harlem Renaissance</p>
            <p class="font-body text-xl w-72">
              Harlem Renaissance encompassed poetry and prose, painting and
              sculpture, jazz and swing, opera, and dance. Their realistic
              presentation of what it meant to be black in America united these
              diverse art forms.
            </p>
          </div>
        </div>
        <!-- okf -->
        <div class="flex">
          <div>
            <span class="text-3xl font-title">1930</span>
            <p class="font-body text-xl w-72">
              Georgia O’Keeffe was an American modernist artist known for her
              pioneering paintings, especially those of enlarged flowers. Her
              works have often been interpreted through the lens of femininity.
            </p>
          </div>
          <img class="h-72" src="okf.jpg" alt="" />
        </div>
      </div>
    </div>
    <!-- page3 -->
    <div class="h-screen bg-teal-700 text-white relative font-body gap-10">
      <div class="flex-col left-10 top-10 absolute">
        <div class="bg-blue-500 inset-x-10 justify-between flex">
          <ul class="text-xl tracking-wider leading-10 font-title">
            <li>1932-1938</li>
            <li>1935</li>
            <li>1939-1946</li>
            <li>1942</li>
            <li>1946</li>
          </ul>
          <ul class="text-xl leading-10 font-body">
            <li>works as assistant to Dr. M.F. Agha</li>
            <li>meets William Golden</li>
            <li>works at Glamour</li>
            <li>becomes art director at Glamour</li>
            <li>leaves Condé Nast</li>
          </ul>
        </div>
        <div class="bg-orange-500 flex">
          <div class="bg-pink-500">
            <p class="text-xl font-body w-72">
              Cipe Pineles and William Golden on their wedding day, 1942
            </p>
            <img class="w-96" src="CipeAndGolden.png" alt="" />
          </div>
          <div class="bg-green-400">
            <p class="w-56 text-xl font-body">
              Dr. M.F. Agha, art director of all Condé Nast publications from
              1928-1942
            </p>
            <img class="w-64" src="mfagha.webp" alt="" />
          </div>
        </div>
      </div>
    </div>

    <!-- page4 -->
    <div class="h-screen bg-white text-teal-700 relative">
      <div class="top-10 left-10 absolute">
        <span class="font-title text-5xl">1932-1946</span>
        <p class="font-title text-3xl">Works for Condé Nest</p>
        <p class="w-2/5 font-body text-xl">
          Cipe’s position at Condé Nast allowed her to combine skills in layout
          and typography and her talent in illustration. She was awarded
          multiple times by the New York Art Directors Club for her design.
        </p>
        <div class="grid grid-cols-3 gap-5">
          <img class="w-64" src="vg1.png" alt="" />
          <img class="w-64" src="vg2.png" alt="" />
          <img class="w-64" src="vg3.jpg" alt="" />
          <img class="w-64" src="voguespread5.png" alt="" />
          <img class="h-64" src="voguespread53.png" alt="" />
          <img class="h-64" src="voguespread55.png" alt="" />
          <img class="h-64" src="voguespread52.png" alt="" />
          <img class="h-64" src="voguespread54.png" alt="" />
          <img class="h-64" src="voguespread56.png" alt="" />
        </div>
        <p class="font-body text-xl">
          Left to Right | Vogue, 1939; Vogue, 1939; Vogue, 1940
        </p>
        <p class="font-body text-xl">
          Top Row | spreads of dummy painted by Cipe <br />
          Bottom Row | Matching printed spreads in Vogue, 1940
        </p>
      </div>
    </div>
    <!-- page4 hist -->
    <div class="h-screen bg-orange-50 text-gray-500 relative">
      <div class="absolute left-10 top-10">
        <span class="font-title text-3xl">1933</span>
        <img class="h-48" src="nazi.jpeg" alt="" />
        <p class="font-title text-3xl">Book burning in Berlin</p>
        <p class="font-body text-xl">Adolf Hitler was appointed Chancellor.</p>
        <img class="h-96" src="gsact.jpg" alt="" />
        <p class="font-title text-3xl w-96">
          President Roosevelt signs the Glass ­­— Steagall Act
        </p>
        <p class="font-body text-xl w-5/12">
          The same year, the U.S. was deep in the throes of the Great
          Depression. Franklin D. Roosevelt, the newly inaugurated president,
          signed the Glass–Steagall Act to restore public confidence in banks.
        </p>
      </div>
      <div></div>
    </div>

    <!-- page5 -->
    <div class="h-screen bg-teal-700 text-white relative">
      <img class="opacity-50 w-screen" src="CipeInParis.png" alt="" />
      <div class="inset-x-10 bottom-10 absolute flex justify-between">
        <ul class="text-xl tracking-wider leading-10 font-title">
          <li>1947-1950</li>
          <li>1948</li>
          <li>1949</li>
          <li>1950</li>
          <li>1950-1959</li>
          <li>1961</li>
          <li>1962-1987</li>
          <li>1965-1970</li>
        </ul>
        <ul class="text-xl leading-10 font-body w-96">
          <li>works as art director of Seventeen</li>
          <li>becomes the first woman member of New York Art Directors Club</li>
          <li>ADC Awards for Seventeen</li>
          <li>leaves Seventeen</li>
          <li>works as art director of Charm</li>
          <li>leaves publication design</li>
          <li>teaches at Parsons</li>
          <li>works for Lincoln Center</li>
        </ul>
      </div>
    </div>
    <!-- page6 -->
    <div class="h-screen bg-white text-teal-700 relative">
      <span class="font-title text-5xl">1947-1950</span>
      <div class="flex gap-10">
        <div>
          <img class="w-96" src="Seventeencover1.png" alt="" />
          <p class="font-title text-5xl">Seventeen Magazine</p>
          <p class="font-body text-xl w-96">
            Cipe worked as the art director of the Seventeen from 1947 to 1950.
            She shaped the magazine to guide teenage girls in their personal
            development and preparation for adulthood. In 1948, she became the
            first woman member of the New York Art Directors Club.
          </p>
        </div>
        <div class="grid grid-cols-2 gap-5">
          <img src="Seventeenspread1.png" alt="" />
          <img src="Seventeenspread2.png" alt="" />
          <img src="Seventeenspread5.png" alt="" />
          <img src="Seventeenspread6.png" alt="" />
        </div>
      </div>
      <div class="grid grid-cols-3 gap-5">
        <img src="seventeen cover 1948.jpeg" alt="" />
        <img src="Seventeencover3.png" alt="" />
        <img src="seventeencover4.jpg" alt="" />
      </div>
    </div>
    <!-- page7 -->
    <div class="h-screen bg-orange-50 text-gray-500 relative">
      <div class="flex top-10 left-10 absolute gap-5">
        <img class="w-72" src="woman.png" alt="" />
        <div>
          <span class="text-3xl font-title">1952</span>
          <p class="font-title text-3xl">Woman</p>
          <p class="font-title text-3xl text-gray-400">William De Kooning</p>
          <p class="font-body text-xl w-72">
            As a notable abstract expressionist painter, De Kooning’s Woman
            series is celebrated because of the intense, aggressive brushwork
            but it also sparks debates among critics and viewers about
            abstraction, representation, and misogyny.
          </p>
        </div>
      </div>
    </div>

    <div class="h-screen bg-orange-50 relative">
      <div class="absolute left-10 bottom-10 grid grid-cols-3 gap-10">
        <img src="korean-war.jpg" alt="" />
        <p class="font-title text-3xl text-gray-500">1950</p>
        <div>
          <p class="font-title text-3xl text-gray-500">Korean War</p>
          <p class="font-body text-gray-500 w-64 text-xl">
            The Korean War was a conflict between North and South Korea,
            involving U.S., UN, and Chinese forces.
          </p>
        </div>
        <img src="Leave it to Beaver.jpg" alt="" />
        <p class="font-title text-3xl text-gray-500">1952</p>
        <div>
          <p class="font-title text-3xl text-gray-500">Leave it to Beaver</p>
          <p class="font-body text-gray-500 w-64 text-xl">
            This TV sitcom glorified female characters, such as June Cleaver, as
            subservient housewives.
          </p>
        </div>
        <img src="sputnik.jpg" alt="" />
        <p class="font-title text-3xl text-gray-500">1957</p>
        <div>
          <p class="font-title text-3xl text-gray-500">Sputnik</p>
          <p class="font-body text-gray-500 w-64 text-xl">
            Sputnik, launched in 1957 by the Soviet Union, was the first
            artificial Earth satellite, marking the start of the Space Race.
          </p>
        </div>
      </div>
    </div>

    <!-- page8 -->
    <div class="h-screen bg-white text-teal-700 flex left-10 top-10 relative">
      <div>
        <span class="font-title text-5xl">1950-1959</span>
        <p class="font-title text-5xl">Charm Magazine</p>
        <p class="font-body w-2/3 text-xl">
          Charm magazine was dedicated to the American working woman at a time
          when other women’s magazines were primarily focusing on homemakers.
          <br />
          <br />
          Pineles’ designs often incorporated bold, vibrant imagery and sophisticated
          layouts that appealed to this demographic.
        </p>
      </div>
      <img class="h-2/3" src="charmcover 1954.webp" alt="" />
      <div class="grid grid-cols-3">
        <img src="charm cover2.jpeg" alt="" />
        <img src="charm.jpeg" alt="" />
        <img src="charm cover 3.jpeg" alt="" />
        <img src="charm7.webp" alt="" />
        <img src="charm4.jpg" alt="" />
        <img src="charm5.webp" alt="" />
        <img src="charm6.webp" alt="" />
        <img src="charm8.jpeg" alt="" />
      </div>
    </div>
    <!-- page9 -->
    <div class="h-screen bg-white text-teal-700 relative">
      <div class="top-10 left-10 absolute">
        <span class="font-title text-5xl">1979-1987</span>
        <p class="font-title text-5xl">Parsons Catalog</p>
        <p class="font-body w-2/5 text-xl">
          Cipe joined the faculty at Parsons School of Design in 1963 and became
          the director of the publication design department. She involved her
          students in creating a catalog that highlighted various aspects of New
          York City — the Big Apple.
        </p>
      </div>
      <div class="grid grid-cols-5">
        <img src="Parsons Poster5.png" alt="" />
        <img src="Parsons Poster6.png" alt="" />
        <img src="Parsons Poster3.png" alt="" />
        <img src="Parsons Poster4.png" alt="" />
        <img src="ParsonsPoster8.png" alt="" />
        <img src="Parsons Poster2.png" alt="" />
        <img src="ParsonsPoster7.png" alt="" />
      </div>
    </div>
    <!-- page10 -->
    <div class="h-screen bg-orange-100 text-gray-500 relative">
      <div class="top-10 inset-x-10 absolute">
        <div class="grid grid-cols-6 gap-5">
          <img src="popart.jpg" alt="" />
          <div>
            <span class="font-title text-3xl">1969</span>
            <p class="font-title text-3xl">Campbell’s Soup Cans</p>
            <p class="font-title text-3xl text-gray-400">Andy Warhol</p>
            <p class="font-body text-xl">
              Pop Art reached its peak during the 1960s.
            </p>
          </div>
          <img src="war2.webp" alt="" />
          <div>
            <span class="font-title text-3xl">1955-1975</span>
            <p class="font-title text-3xl">Vietnam War</p>
            <p class="font-body text-xl">
              The Vietnam War primarily involved North Vietnam and its communist
              allies against South Vietnam and its principal ally, the United
              States.
            </p>
          </div>
          <img src="john-lennon.jpeg" alt="" />
          <div>
            <span class="font-title text-3xl">1980</span>
            <p class="font-title text-3xl">Death of John Lennon</p>
            <p class="font-body text-xl">
              John Lennon, the iconic musician was tragically assassinated.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
