---
import CipeLandingPage from '../components/cipe-landing-page.astro';
import FabienLandingPage from '../components/fabien-landing-page.astro';
import Cipe1 from '../components/cipe-tl-1.astro';
import CipeTl2 from '../components/cipe-tl-2.astro';
import CipeTl3 from '../components/cipe-tl-3.astro';
import Contempora from '../components/contempora.astro';
import Cactus from '../components/cactus.astro';
import Hist1 from '../components/hist-1.astro';
import Conde from '../components/conde-nest.astro';
import Hist2 from '../components/hist-2.astro';
import Seventeen from '../components/seventeen.astro';
import Charm from '../components/charm.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/ltk6cbc.css" />
    <title>Astro</title>
  </head>
  <body>
    <div class="flex">
      <CipeLandingPage />
      <FabienLandingPage />
    </div>
    <div class="flex">
      <Cipe1 />
      <CipeTl2 />
    </div>
    <CipeTl3 />
    <div class="bg-white text-teal-700 py-24 px-28">
      <Cactus />
    </div>

    <div class="bg-teal-700 text-white">
      <Contempora />
    </div>

    <div class="bg-orange-50 py-16 px-32 text-gray-500">
      <Hist1 />
    </div>

    <div class="bg-white pb-16 text-teal-700">
      <Conde />
      <Seventeen />
    </div>
    <div class="bg-orange-50 py-16 px-32 text-gray-500">
      <Hist2 />
    </div>

    <div class="bg-white py-16 text-teal-700">
      <Charm />
    </div>
  </body>
</html>
