---
import CipeLandingPage from '../components/cipe-landing-page.astro';
import FabienLandingPage from '../components/fabien-landing-page.astro';
import Cipe1 from '../components/cipe-tl-1.astro';
import CipeTl2 from '../components/cipe-tl-2.astro';
import CipeTl3 from '../components/cipe-tl-3.astro';
import CipeWrk1 from '../components/cipe-wrk-1.astro';
import CipetHist from '../components/cipe-hist.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/ltk6cbc.css" />
    <title>Astro</title>
  </head>
  <body>
    <div class="flex">
      <CipeLandingPage />
      <FabienLandingPage />
    </div>
    <div class="flex">
      <Cipe1 />
      <CipeTl2 />
    </div>
    <CipeTl3 />
    <div class="flex relative bg-white justify-between">
      <CipeWrk1 />
      <CipetHist />
    </div>
  </body>
</html>
