<div class="flex justify-between items-end gap-10">
  <img
    class="w-1/2 self-stretch object-cover flex-grow"
    src="cacuts.png"
    alt=""
  />
  <div>
    <h2 class="text-4xl font-medium font-title">1926-1929</h2>
    <p class="font-title font-bold pt-3 text-5xl">Cactus</p>
    <p class="font-body text-xl pt-5 max-w-[36ch]">
      Cipe started her design journey in Pratt, studying classical drawing and
      watercolor. She began experimenting with still-life painting, which later
      became a lifelong fascination.
    </p>
  </div>
</div>
