<div class="px-24">
  <h2 class="text-4xl font-medium pb-5 font-title">1950-1959</h2>
  <p class="font-title pt-5 font-bold text-5xl">Charm Magazine</p>
  <p class="font-body text-xl pt-5 max-w-[50ch]">
    Charm magazine was dedicated to the American working woman at a time when
    other women’s magazines were primarily focusing on homemakers.
    <br />
    <br />
    Pineles’ designs often incorporated bold, vibrant imagery and sophisticated layouts
    that appealed to this demographic.
  </p>

  <img class="w-full py-12" src="charmcover 1954.webp" alt="" />
  <div class="grid grid-cols-3">
    <img src="charm cover2.jpeg" alt="" />
    <img src="charm.jpeg" alt="" />
    <img src="charm cover 3.jpeg" alt="" />
    <img src="charm7.webp" alt="" />
    <img src="charm4.jpg" alt="" />
    <img src="charm5.webp" alt="" />
    <img src="charm6.webp" alt="" />
    <img src="charm8.jpeg" alt="" />
  </div>
</div>
