<div class="h-screen w-1/2 bg-teal-700 text-white relative font-body">
  <div class="absolute top-10 left-10 flex gap-10">
    <img
      class="h-96 opacity-80"
      src="cipe-pineles.png"
      alt="a picture of Cipe"
    />
    <p class="text-white text-xl w-72 right-10">
      Cipe Pineles was a pioneer and underrepresented female graphic designer.
      She is known for her contribution to the world of magazine design and for
      breaking gender barriers in a predominantly male-dominated industry during
      her time.
    </p>
  </div>
  <div class="inset-x-10 bottom-10 absolute flex justify-between">
    <ul class="text-xl tracking-wider leading-10 font-title">
      <li>1908</li>
      <li>1923</li>
      <li>1926-1929</li>
      <li>1930-1932</li>
    </ul>
    <ul class="text-xl leading-10 font-body">
      <li>born in Vienna, Austria</li>
      <li>family leaves Vienna and arrives in the U.S.</li>
      <li>studies at Pratt Institute, Brooklyn</li>
      <li>takes first design job at Contempora, Ltd.</li>
    </ul>
  </div>
</div>
