<div class="bg-orange-50 p-10 space-y-3 text-gray-500 w-1/2">
  <!-- Harlem Renaissance -->
  <div class="flex gap-5">
    <img class="w-72" src="josaphine-baker.jpg" alt="" />
    <div>
      <h2 class="text-3xl font-title">1910s-1930s</h2>
      <p class="font-title text-2xl">Harlem Renaissance</p>
      <p class="font-body text-xl w-72">
        Harlem Renaissance encompassed poetry and prose, painting and sculpture,
        jazz and swing, opera, and dance. Their realistic presentation of what
        it meant to be black in America united these diverse art forms.
      </p>
    </div>
  </div>
  <!-- okf -->
  <div class="flex justify-between">
    <div>
      <span class="text-3xl font-title">1930</span>
      <p class="font-title text-2xl">White Calico Rose</p>
      <p class="font-title text-2xl text-gray-400">Georgia O'Keeffe</p>
      <p class="font-body text-xl w-72">
        Georgia O’Keeffe was an American modernist artist known for her
        pioneering paintings, especially those of enlarged flowers. Her works
        have often been interpreted through the lens of femininity.
      </p>
    </div>
    <img class="h-72" src="okf.jpg" alt="" />
  </div>

  <div class="flex justify-between">
    <div>
      <h2 class="font-title text-3xl">1933</h2>
      <img class="h-48" src="nazi.jpeg" alt="" />
    </div>
    <div>
      <p class="font-title text-2xl">Book burning in Berlin</p>
      <p class="font-body text-xl">Adolf Hitler was appointed Chancellor.</p>
    </div>
  </div>

  <div class="flex gap-5 justify-between">
    <img class="w-1/3" src="gsact.jpg" alt="" />
    <div>
      <p class="font-title text-2xl">
        President Roosevelt signs the Glass ­­— Steagall Act
      </p>
      <p class="font-body text-xl">
        The same year, the U.S. was deep in the throes of the Great Depression.
        Franklin D. Roosevelt, the newly inaugurated president, signed the
        Glass–Steagall Act to restore public confidence in banks.
      </p>
    </div>
  </div>

  <div class="flex gap-5">
    <img class="w-72" src="woman.png" alt="" />
    <div>
      <h2 class="text-3xl font-title">1952</h2>
      <p class="font-title text-2xl">Woman</p>
      <p class="font-title text-2xl text-gray-400">William De Kooning</p>
      <p class="font-body text-xl">
        As a notable abstract expressionist painter, De Kooning’s Woman series
        is celebrated because of the intense, aggressive brushwork but it also
        sparks debates among critics and viewers about abstraction,
        representation, and misogyny.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-5 text-gray-500">
    <img src="korean-war.jpg" alt="" />
    <p class="font-title text-3xl">1950</p>
    <div>
      <p class="font-title text-3xl">Korean War</p>
      <p class="font-bodytext-xl">
        The Korean War was a conflict between North and South Korea, involving
        U.S., UN, and Chinese forces.
      </p>
    </div>
    <img src="Leave it to Beaver.jpg" alt="" />
    <p class="font-title text-3xl">1952</p>
    <div>
      <p class="font-title text-3xl">Leave it to Beaver</p>
      <p class="font-body text-xl">
        This TV sitcom glorified female characters, such as June Cleaver, as
        subservient housewives.
      </p>
    </div>
    <img src="sputnik.jpg" alt="" />
    <p class="font-title text-3xl text-gray-500">1957</p>
    <div>
      <p class="font-title text-3xl text-gray-500">Sputnik</p>
      <p class="font-body text-gray-500 w-64 text-xl">
        Sputnik, launched in 1957 by the Soviet Union, was the first artificial
        Earth satellite, marking the start of the Space Race.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-6 gap-3">
    <img src="popart.jpg" alt="" />
    <div>
      <h2 class="font-title text-3xl">1969</h2>
      <p class="font-title text-2xl">Campbell’s Soup Cans</p>
      <p class="font-title text-2xl text-gray-400">Andy Warhol</p>
      <p class="font-body text-xl">
        Pop Art reached its peak during the 1960s.
      </p>
    </div>
    <img src="war2.webp" alt="" />
    <div>
      <h2 class="font-title text-3xl">1955-1975</h2>
      <p class="font-title text-2xl">Vietnam War</p>
      <p class="font-body text-xl">
        The Vietnam War primarily involved North Vietnam and its communist
        allies against South Vietnam and its principal ally, the United States.
      </p>
    </div>
    <img src="john-lennon.jpeg" alt="" />
    <div>
      <h2 class="font-title text-3xl">1980</h2>
      <p class="font-title text-2xl">Death of John Lennon</p>
      <p class="font-body text-xl">
        John Lennon, the iconic musician was tragically assassinated.
      </p>
    </div>
  </div>
</div>
