<div class="h-screen bg-teal-700 text-white relative">
  <img
    class="opacity-50 h-screen w-screen object-cover"
    src="CipeInParis.png"
    alt=""
  />
  <div class="inset-x-10 bottom-10 absolute flex justify-between">
    <ul class="text-xl tracking-wider leading-10 font-title">
      <li>1947-1950</li>
      <li>1948</li>
      <li>1949</li>
      <li>1950</li>
      <li>1950-1959</li>
      <li>1961</li>
      <li>1962-1987</li>
      <li>1965-1970</li>
    </ul>
    <ul class="text-xl leading-10 font-body w-96">
      <li>works as art director of Seventeen</li>
      <li>becomes the first woman member of New York Art Directors Club</li>
      <li>ADC Awards for Seventeen</li>
      <li>leaves Seventeen</li>
      <li>works as art director of Charm</li>
      <li>leaves publication design</li>
      <li>teaches at Parsons</li>
      <li>works for Lincoln Center</li>
    </ul>
  </div>
</div>
