<div class="bg-white space-y-24 text-teal-700 p-10 w-1/2">
  <div>
    <h2 class="text-5xl font-title">1926-1929</h2>
    <img class="h-80 pt-5 mb-8" src="cacuts.png" alt="" />
    <p class="font-title font-bold text-6xl">Cactus</p>
    <p class="font-body text-xl w-[47ch]">
      Cipe started her design journey in Pratt, studying classical drawing and
      watercolor. She began experimenting with still-life painting, which later
      became a lifelong fascination.
    </p>
  </div>

  <h2 class="text-5xl font-title">1930-1932</h2>
  <p class="font-title text-3xl">
    Contempora Everfast <br />Figures and Scenes
  </p>
  <p class="font-body text-xl w-3/4">
    Cipe’s position at Contempora was her first opportunity to work as a
    professional designer. Contempora was an association of European and
    American artists and designers.
  </p>
  <img class="h-72" src="contempora3.png" alt="" />

  <h2 class="font-title text-5xl">1932-1946</h2>
  <p class="font-title text-3xl">Works for Condé Nest</p>
  <p class="w-3/4 font-body text-xl">
    Cipe’s position at Condé Nast allowed her to combine skills in layout and
    typography and her talent in illustration. She was awarded multiple times by
    the New York Art Directors Club for her design.
  </p>
  <div class="grid grid-cols-3 gap-5">
    <img class="w-64" src="vg1.png" alt="" />
    <img class="w-64" src="vg2.png" alt="" />
    <img class="w-64" src="vg3.jpg" alt="" />
  </div>
  <p class="font-body text-xl">
    Left to Right | Vogue, 1939; Vogue, 1939; Vogue, 1940
  </p>
  <div class="grid grid-cols-3 gap-5">
    <img class="w-64" src="voguespread5.png" alt="" />
    <img class="h-64" src="voguespread53.png" alt="" />
    <img class="h-64" src="voguespread55.png" alt="" />
    <img class="h-64" src="voguespread52.png" alt="" />
    <img class="h-64" src="voguespread54.png" alt="" />
    <img class="h-64" src="voguespread56.png" alt="" />
  </div>
  <p class="font-body text-xl">
    Top Row | spreads of dummy painted by Cipe <br />
    Bottom Row | Matching printed spreads in Vogue, 1940
  </p>

  
  <div>
    <h2 class="font-title text-5xl">1950-1959</h2>
    <p class="font-title text-5xl">Charm Magazine</p>
    <p class="font-body w-2/3 text-xl">
      Charm magazine was dedicated to the American working woman at a time when
      other women’s magazines were primarily focusing on homemakers.
      <br />
      <br />
      Pineles’ designs often incorporated bold, vibrant imagery and sophisticated
      layouts that appealed to this demographic.
    </p>
  </div>
  <img class="" src="charmcover 1954.webp" alt="" />
  <div class="grid grid-cols-3">
    <img src="charm cover2.jpeg" alt="" />
    <img src="charm.jpeg" alt="" />
    <img src="charm cover 3.jpeg" alt="" />
    <img src="charm7.webp" alt="" />
    <img src="charm4.jpg" alt="" />
    <img src="charm5.webp" alt="" />
    <img src="charm6.webp" alt="" />
    <img src="charm8.jpeg" alt="" />
  </div>

  <h2 class="font-title text-5xl">1979-1987</h2>
  <p class="font-title text-5xl">Parsons Catalog</p>
  <p class="font-body w-2/5 text-xl">
    Cipe joined the faculty at Parsons School of Design in 1963 and became the
    director of the publication design department. She involved her students in
    creating a catalog that highlighted various aspects of New York City — the
    Big Apple.
  </p>

  <div class="grid grid-cols-6 place-items-end gap-4">
    <img src="Parsons Poster3.png" alt="" />
    <img src="Parsons Poster4.png" alt="" />
    <img src="ParsonsPoster8.png" class="col-span-2" alt="" />
    <img src="Parsons Poster2.png" alt="" />

    <div class="space-y-4">
      <img src="Parsons Poster5.png" alt="" />
      <img src="Parsons Poster6.png" alt="" />
      <img src="ParsonsPoster7.png" alt="" />
    </div>
  </div>
</div>
