<div class="h-screen w-1/2 bg-teal-700 text-white relative font-body">
  <div class="top-10 absolute inset-x-10 max-w-xl justify-between flex">
    <ul class="text-xl tracking-wider leading-10 font-title">
      <li>1932-1938</li>
      <li>1935</li>
      <li>1939-1946</li>
      <li>1942</li>
      <li>1946</li>
    </ul>
    <ul class="text-xl leading-10 font-body">
      <li>works as assistant to Dr. M.F. Agha</li>
      <li>meets William Golden</li>
      <li>works at Glamour</li>
      <li>becomes art director at Glamour</li>
      <li>leaves Condé Nast</li>
    </ul>
  </div>
  <div class="flex flex-col inset-x-10 bottom-10 gap-1 absolute">
    <div class="self-end">
      <p class="w-56 text-base font-body">
        Dr. M.F. Agha, art director of all Condé Nast publications from
        1928-1942
      </p>
      <img class="w-52 pt-5" src="mfagha.webp" alt="" />
    </div>

    <div>
      <p class="text-base font-body w-64">
        Cipe Pineles and William Golden on their wedding day, 1942
      </p>
      <img class="pt-5 w-64" src="CipeAndGolden.png" alt="" />
    </div>
  </div>
</div>
