<div class="h-screen w-1/2 bg-teal-700 text-white relative font-title">
  <span class="text-xl top-10 left-10 tracking-widest absolute"
    >1908 | 1991</span
  >
  <h1 class="left-10 top-24 text-6xl absolute uppercase">
    Cipe<br />
    Pineles
  </h1>

  <ul class="text-xl absolute bottom-10 flex inset-x-10 justify-between">
    <li>Pratt</li>
    <li>Condé Nest</li>
    <li>Seventeen</li>
    <li>Charm</li>
    <li>Parsons</li>
  </ul>
</div>
