<div>
  <div class="px-24 overflow-hidden">
    <h2 class="text-4xl pt-16 font-medium font-title">1932-1946</h2>
    <p class="font-title pt-5 font-bold text-5xl">Works for Condé Nest</p>
    <p class="max-w-[40ch] font-body text-xl pt-5">
      Cipe’s position at Condé Nast allowed her to combine skills in layout and
      typography and her talent in illustration. She was awarded multiple times
      by the New York Art Directors Club for her design.
    </p>
    <div class="flex justify-center gap-10 pt-10">
      <img class="object-cover h-[60vh]" src="vg1.png" alt="" />
      <img class="object-cover h-[60vh]" src="vg2.png" alt="" />
      <img class="object-cover h-[60vh]" src="vg3.jpg" alt="" />
    </div>
    <p class="font-body pt-3 pb-10 text-xl">
      Left to Right | Vogue, 1939; Vogue, 1939; Vogue, 1940
    </p>
  </div>

  <div class="bg-teal-700 text-white px-24 p-16 flex flex-col gap-10">
    <div class="flex gap-10">
      <img class="w-1/4 object-cover" src="voguespread5.png" alt="" />
      <img class="w-1/4 object-cover" src="voguespread53.png" alt="" />
      <img class="w-1/4 object-cover" src="voguespread55.png" alt="" />
    </div>
    <div class="flex justify-end gap-5">
      <img class="w-1/4 object-contain" src="voguespread52.png" alt="" />
      <img class="w-1/4 object-cover" src="voguespread54.png" alt="" />
      <img class="w-1/4 object-cover" src="voguespread56.png" alt="" />
    </div>
  </div>
  <div class="flex justify-end px-24">
    <p class="font-body pt-3 text-end text-xl">
      Top Row | spreads of dummy painted by Cipe <br />
      Bottom Row | Matching printed spreads in Vogue, 1940
    </p>
  </div>
</div>
