<div>
  <div class="flex gap-10 items-center justify-between">
    <div class="flex pl-32 py-24 flex-col">
      <h2 class="text-4xl font-medium font-title">1930-1932</h2>
      <p class="font-title pt-5 font-bold text-5xl">
        Contempora Everfast <br />Figures and Scenes
      </p>
      <p class="font-body text-xl pt-5 max-w-[45ch]">
        Cipe’s position at Contempora was her first opportunity to work as a
        professional designer. Contempora was an association of European and
        American artists and designers.
      </p>
    </div>
    <img
      class="w-1/2 self-stretch object-cover flex-grow"
      src="contempora3.png"
      alt=""
    />
  </div>
</div>
