<div>
  <div class="flex items-end gap-5 items-center justify-between">
    <div class="flex pl-32 pb-8 flex-col">
      <h2 class="text-4xl font-medium font-title">1930-1932</h2>
      <p class="font-title pt-5 font-bold text-5xl">
        Contempora Everfast <br />Figures and Scenes
      </p>
      <p class="font-body text-xl pt-5 w-[45ch]">
        Cipe’s position at Contempora was her first opportunity to work as a
        professional designer. Contempora was an association of European and
        American artists and designers.
      </p>
    </div>
    <img class="w-[50vw]" src="contempora3.png" alt="" />
  </div>
</div>
