<div class="h-screen w-1/2 bg-rose-700 text-white relative font-title">
  <ul class="text-xl absolute top-10 flex inset-x-10 justify-between">
    <li>Pratt</li>
    <li>Condé Nest</li>
    <li>Seventeen</li>
    <li>Charm</li>
    <li>Parsons</li>
  </ul>

  <div>
    <span class="text-xl bottom-60 right-10 tracking-widest absolute"
      >1956 | NOW
    </span>
    <h1 class="text-6xl bottom-24 right-10 absolute uppercase">
      Fabien <br />
      Baron
    </h1>
  </div>
</div>
