<div class="grid grid-cols-4 gap-5 justify-between items-center">
  <img class="h-3/5 object-cover" src="korean-war.jpg" alt="" />
  <img class="object-cover" src="woman.png" alt="" />
  <img class="h-3/5 object-contain" src="Leave it to Beaver.jpg" alt="" />
  <img class="h-3/5 object-cover" src="sputnik.jpg" alt="" />
  <div class="col col-span-3 pt-5">
    <div class="flex gap-5">
      <h2 class="text-4xl font-medium font-title">1950</h2>
      <div>
        <p class="font-title font-bold text-3xl">The Korean War</p>
        <p class="pt-3 text-xl font-body max-w-[50ch]">
          The Korean War was a conflict between North and South Korea, involving
          U.S., UN, and Chinese forces.
        </p>
      </div>
    </div>
  </div>
  <div class="col col-start-2 col-span-full pt-5">
    <div class="flex gap-6">
      <div>
        <h2 class="text-4xl font-medium font-title">1952</h2>
      </div>
      <div class="">
        <p class="font-title font-bold text-3xl">Woman</p>
        <p class="font-title text-2xl text-gray-400">William De Kooning</p>
        <p class="pt-3 text-xl font-body max-w-[50ch]">
          As a notable abstract expressionist painter, De Kooning’s Woman series
          is celebrated because of the intense, aggressive brushwork but it also
          sparks debates among critics and viewers about abstraction,
          representation, and misogyny.
        </p>
        <div>
          <p class="font-title font-bold text-3xl pt-10">Leave it to Beaver</p>
          <p class="pt-3 text-xl font-body max-w-[45ch]">
            This TV sitcom glorified female characters, such as June Cleaver, as
            subservient housewives.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col col-start-4 col-span-full">
    <div class="flex pt-5 gap-10">
      <h2 class="text-4xl font-medium font-title">1957</h2>
      <div class="">
        <p class="font-title font-bold text-3xl">Sputnik</p>
        <p class="pt-3 text-xl font-body">
          Sputnik, launched in 1957 by the Soviet Union, was the first
          artificial Earth satellite, marking the start of the Space Race.
        </p>
      </div>
    </div>
  </div>
</div>
