<!-- images --><!-- <div class="bg-orange-50 px-32 text-gray-500"> -->
<div class="grid grid-cols-4 gap-5 items-center">
  <img class="w" src="josaphine-baker.jpg" alt="" />
  <img class="mix-blend-multiply object-contain" src="okf.jpg" alt="" />
  <img class="w" src="nazi.jpeg" alt="" />
  <img class="w" src="gsact.jpg" alt="" />
  <div class="col col-span-full pt-5">
    <div class="flex gap-6">
      <div>
        <h2 class="text-4xl font-medium font-title">1910s-1930s</h2>
      </div>
      <div class="">
        <p class="font-title font-bold text-3xl">Harlem Renaissance</p>
        <p class="pt-3 text-xl font-body max-w-[50ch]">
          Harlem Renaissance encompassed poetry and prose, painting and
          sculpture, jazz and swing, opera, and dance. Their realistic
          presentation of what it meant to be black in America united these
          diverse art forms.
        </p>
      </div>
    </div>
  </div>
  <div class="col col-start-2 col-span-3 pt-5">
    <div class="flex gap-5">
      <h2 class="text-4xl font-medium font-title">1930</h2>
      <div>
        <p class="font-title font-bold text-3xl">White Calico Rose</p>
        <p class="font-title font-medium text-xl text-gray-400">
          Georgia O'Keeffe
        </p>
        <p class="pt-3 text-xl font-body max-w-[50ch]">
          Georgia O’Keeffe was an American modernist artist known for her
          pioneering paintings, especially those of enlarged flowers. Her works
          have often been interpreted through the lens of femininity.
        </p>
      </div>
    </div>
  </div>

  <div class="col col-start-3 col-span-full">
    <div class="flex pt-5 gap-10">
      <h2 class="text-4xl font-medium font-title">1933</h2>
      <div class="">
        <p class="font-title font-bold text-3xl">Book burning in Berlin</p>
        <p class="pt-3 text-xl font-body max-w-[48ch]">
          Adolf Hitler was appointed Chancellor.
        </p>
        <div class="">
          <p class="font-title font-bold text-3xl max-w-[24ch] pt-10">
            President Roosevelt signs the Glass ­­— Steagall Act
          </p>
          <p class="pt-3 text-xl font-body max-w-[50ch]">
            The same year, the U.S. was deep in the throes of the Great
            Depression. Franklin D. Roosevelt, the newly inaugurated president,
            signed the Glass–Steagall Act to restore public confidence in banks.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
