<div class="grid grid-cols-3 gap-10">
  <div>
    <img src="popart.jpg" alt="" />
    <h2 class="text-4xl font-medium font-title pt-3">1969</h2>
    <p class="font-title font-bold text-3xl">Campbell’s Soup Cans</p>
    <p class="font-title text-2xl text-gray-400">Andy Warhol</p>
    <p class="pt-3 text-xl font-body max-w-[50ch]">
      Pop Art reached its peak during the 1960s.
    </p>
  </div>

  <div>
    <img src="war2.webp" alt="" />
    <h2 class="text-4xl font-medium font-title pt-3">1955-1975</h2>
    <p class="font-title font-bold text-3xl">Vietnam War</p>
    <p class="pt-3 text-xl font-body max-w-[50ch]">
      The Vietnam War primarily involved North Vietnam and its communist allies
      against South Vietnam and its principal ally, the United States.
    </p>
  </div>

  <div>
    <img src="john-lennon.jpeg" alt="" />
    <h2 class="text-4xl font-medium font-title pt-3">1980</h2>
    <p class="font-title font-bold text-3xl">Death of John Lennon</p>
    <p class="pt-3 text-xl font-body max-w-[50ch]">
      John Lennon, the iconic musician was tragically assassinated.
    </p>
  </div>
</div>
