<div class="px-24">
  <h2 class="text-4xl font-medium pb-5 font-title">1979-1987</h2>
  <p class="font-title pt-5 font-bold text-5xl">Parsons Catalog</p>
  <p class="font-body text-xl pt-5 max-w-[50ch]">
    Cipe joined the faculty at Parsons School of Design in 1963 and became the
    director of the publication design department. She involved her students in
    creating a catalog that highlighted various aspects of New York City — the
    Big Apple.
  </p>

  <div class="grid grid-cols-6 place-items-end gap-4">
    <img src="Parsons Poster3.png" alt="" />
    <img src="Parsons Poster4.png" alt="" />
    <img src="ParsonsPoster8.png" class="col-span-2" alt="" />
    <img src="Parsons Poster2.png" alt="" />

    <div class="space-y-4">
      <img src="Parsons Poster5.png" alt="" />
      <img src="Parsons Poster6.png" alt="" />
      <img src="ParsonsPoster7.png" alt="" />
    </div>
  </div>
</div>
