<div class="px-24">
  <h2 class="text-4xl font-medium pb-5 font-title">1947-1950</h2>
  <p class="font-title pt-5 font-bold text-5xl">Seventeen Magazine</p>
  <p class="font-body text-xl pt-5 max-w-[50ch]">
    Cipe worked as the art director of the Seventeen from 1947 to 1950. She
    shaped the magazine to guide teenage girls in their personal development and
    preparation for adulthood. In 1948, she became the first woman member of the
    New York Art Directors Club.
  </p>
  <div class="pt-10 flex gap-10">
    <div>
      <img class="max-w-[40vw]" src="Seventeencover1.png" alt="" />
    </div>
    <div class="flex gap-10">
      <div>
        <img class="pb-10" src=" Seventeenspread1.png" alt="" />
        <img src="Seventeenspread2.png" alt="" />
      </div>
      <div class="self-end">
        <img class="pb-10" src="Seventeenspread5.png" alt="" />
        <img src="Seventeenspread6.png" alt="" />
      </div>
    </div>
  </div>

  <div class="pt-10 grid grid-cols-3 gap-10">
    <img src="seventeen cover 1948.jpeg" alt="" />
    <img src="Seventeencover3.png" alt="" />
    <img src="seventeencover4.jpg" alt="" />
  </div>
</div>
